**/.git
**/.gitignore
**/.venv
**/__pycache__
**/*.py[co]
**/.pytest_cache
**/.ruff_cache
**/.mypy_cache
**/.idea
**/.vscode
**/data
**/tests
**/pytest.ini
**/requirements-dev.txt
**/Dockerfile
**/.dockerignore
**/docker-compose.yml
